In [1]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima_model import ARMA
from statsmodels.stats.diagnostic import acorr_ljungbox

In [2]:
data = pd.read_csv("Data/VAR_data.csv")

In [3]:
data.head()

,ExchangeRateLog,ExchangeRateLogDifference,GDP,M2,Inflation,ShortInterestRate
0,0.257970,-0.018525,-0.097363,0.123950,0.7691,0.6428
1,0.238781,-0.019189,-0.097363,0.109485,0.7326,0.7144
2,0.195156,-0.043625,-0.097363,0.103728,0.7459,0.8590
3,0.185732,-0.009423,-0.097363,0.100158,0.8640,1.1006
4,0.206608,0.020875,-0.097363,0.110161,0.9445,1.3075

In [4]:
ExchangeRateLog = data['ExchangeRateLog']

In [5]:
ExchangeRateLog_d_1 = data['ExchangeRateLogDifference']

In [7]:
exog_var = np.array([delta_GDP,delta_m2,delta_pie,delta_r])
exog_var = np.transpose(exog_var)

In [8]:
exog_var.shape

(144, 4)

In [9]:
AicScore = pd.DataFrame(index=list(range(5)),columns=list(range(5)))

In [10]:
for p in range(5):
    for q in range(5):
        try:
            model = ARMA(ExchangeRateLog,order=(p,q),exog=exog_var)
            result = model.fit()
            AicScore.iloc[p,q] = result.aic
        except ValueError:
            AicScore.iloc[p,q] = 1

C:\Users\v-weiyzh\AppData\Roaming\Python\Python36\site-packages\scipy\signal\signaltools.py:1341: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out_full[ind] += zi
C:\Users\v-weiyzh\AppData\Roaming\Python\Python36\site-packages\scipy\signal\signaltools.py:1344: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out = out_full[ind]
C:\Users\v-weiyzh\AppData\Roaming\Python\Python36\site-packages\scipy\signal\signaltools.py:1350: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  zf = out_full[ind]
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\base\model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [11]:
AicScore

         0        1        2        3        4
0  -497.35 -606.545        1        1        1
1 -672.465 -688.741 -687.307 -685.308 -686.694
2 -688.767 -687.397        1        1        1
3 -687.057 -685.502 -690.645        1        1
4 -687.664  -687.92 -685.991 -680.997 -685.752

In [12]:
#Test ARMA(1,1)
model = ARMA(ExchangeRateLog,order=(1,1),exog=exog_var)
result = model.fit()

In [13]:
result.pvalues

const                    3.194422e-15
x1                       1.457451e-04
x2                       6.171400e-01
x3                       7.980195e-04
x4                       3.672122e-01
ar.L1.ExchangeRateLog    3.598396e-27
ma.L1.ExchangeRateLog    2.131250e-06
dtype: float64

In [14]:
result.params

const                    0.229576
x1                      -0.321326
x2                      -0.090148
x3                      -0.030245
x4                      -0.007129
ar.L1.ExchangeRateLog    0.831215
ma.L1.ExchangeRateLog    0.383840
dtype: float64

In [15]:
acorr_ljungbox(result.resid)[1][-1]

0.17046422595200095

In [16]:
exog_var = np.array([delta_GDP,delta_pie])
exog_var = np.transpose(exog_var)

In [17]:
model = ARMA(ExchangeRateLog,order=(1,1),exog=exog_var)
result = model.fit()

In [18]:
result.pvalues

const                    3.882679e-25
x1                       4.348757e-04
x2                       3.073693e-04
ar.L1.ExchangeRateLog    1.581714e-29
ma.L1.ExchangeRateLog    3.439055e-06
dtype: float64

In [19]:
result.params

const                    0.220649
x1                      -0.324714
x2                      -0.032661
ar.L1.ExchangeRateLog    0.854982
ma.L1.ExchangeRateLog    0.380292
dtype: float64

In [20]:
acorr_ljungbox(result.resid)[1][-1]

0.17240396695456284

In [21]:
exog_var = np.array([delta_GDP,delta_m2,delta_pie,delta_r])
exog_var = np.transpose(exog_var)

In [22]:
for p in range(5):
    for q in range(5):
        try:
            model = ARMA(ExchangeRateLog_d_1,order=(p,q),exog=exog_var)
            result = model.fit()
            AicScore.iloc[p,q] = result.bic
        except ValueError:
            AicScore.iloc[p,q] = 1
        except np.linalg.LinAlgError:
            AicScore.iloc[p,q] = 1

C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:606: RuntimeWarning: overflow encountered in exp
  newparams = ((1-np.exp(-params))/
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:607: RuntimeWarning: overflow encountered in exp
  (1+np.exp(-params))).copy()
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:607: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:608: RuntimeWarning: overflow encountered in exp
  tmp = ((1-np.exp(-params))/
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:609: RuntimeWarning: overflow encountered in exp
  (1+np.exp(-params))).copy()
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:609: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)
C:\Users\v-weiyzh\AppData\Local\Continuum\anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [23]:
AicScore

         0        1        2        3        4
0 -650.918 -654.336 -649.429 -644.526 -643.243
1 -653.353 -649.419        1        1        1
2 -649.283 -652.172        1        1        1
3 -645.017 -640.251 -636.685 -642.069        1
4 -640.789 -641.826     -637  -632.03 -627.444

In [24]:
model = ARMA(ExchangeRateLog_d_1,order=(0,1),exog=exog_var)
result = model.fit()

In [25]:
result.pvalues

const                              0.911495
x1                                 0.524879
x2                                 0.834135
x3                                 0.344488
x4                                 0.045966
ma.L1.ExchangeRateLogDifference    0.002450
dtype: float64

In [26]:
def mean_error(pred,real):
    return np.mean([pred[i]-real[i] for i in range(len(pred))])
def mean_absolute_error(pred,real):
    return np.mean([np.abs(pred[i]-real[i]) for i in range(len(pred))])
def root_mean_square_error(pred,real):
    return np.sqrt(np.mean([pow(pred[i]-real[i],2) for i in range(len(pred))]))

In [27]:
PredictionOutputMAE = pd.DataFrame(index=['monthly','3_month','6_month','12_month'])
PredictionOutputRMSE = pd.DataFrame(index=['monthly','3_month','6_month','12_month'])

In [28]:
totalData = 144
startPrediction = 100

In [29]:
tsValuesLog = list(ExchangeRateLog)

In [30]:
len(ExchangeRateLog)

144

In [31]:
mae_ = []
rmse_ = []
for l in [1,3,6,12]:
    pred = [0]*(startPrediction+l-1)
    for i in range(totalData-startPrediction-l+1):
        pred.append(tsValuesLog[startPrediction-1+i])
    mae_.append(mean_absolute_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
    rmse_.append(root_mean_square_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
PredictionOutputMAE['RandomWalk'] = mae_
PredictionOutputRMSE['RandomWalk'] = rmse_

In [32]:
mae_ = []
rmse_ = []
for l in [1,3,6,12]:
    pred = [0]*(startPrediction+l-1)
    for i in range(totalData-startPrediction-l+1):
        history = tsValuesLog[i:i+startPrediction]
        exog_history = exog_var[i:i+startPrediction]
        model = ARMA(endog=history,order=(1,1),exog=exog_history)
        result = model.fit()
        prediction = result.predict(start = startPrediction, end = startPrediction+l-1,exog=exog_var[startPrediction:startPrediction+l])
        pred.append(prediction[l-1])
    mae_.append(mean_absolute_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
    rmse_.append(root_mean_square_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
PredictionOutputMAE['ARMA_1_1+Exo_4'] = mae_
PredictionOutputRMSE['ARMA_1_1+Exo_4'] = rmse_

In [33]:
exog_var = np.array([delta_GDP,delta_pie])
exog_var = np.transpose(exog_var)

In [34]:
mae_ = []
rmse_ = []
for l in [1,3,6,12]:
    pred = [0]*(startPrediction+l-1)
    for i in range(totalData-startPrediction-l+1):
        history = tsValuesLog[i:i+startPrediction]
        exog_history = exog_var[i:i+startPrediction]
        model = ARMA(endog=history,order=(1,1),exog=exog_history)
        result = model.fit()
        prediction = result.predict(start = startPrediction, end = startPrediction+l-1,exog=exog_var[startPrediction:startPrediction+l])
        pred.append(prediction[l-1])
    mae_.append(mean_absolute_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
    rmse_.append(root_mean_square_error(pred[startPrediction+l-1:],tsValuesLog[startPrediction+l-1:]))
PredictionOutputMAE['ARMA_1_1+Exo_2'] = mae_
PredictionOutputRMSE['ARMA_1_1+Exo_2'] = rmse_

In [35]:
PredictionOutputMAE

          RandomWalk  ARMA_1_1+Exo_4  ARMA_1_1+Exo_2
monthly     0.014526        0.074761        0.077498
3_month     0.031639        0.101627        0.101669
6_month     0.051876        0.121691        0.118995
12_month    0.085842        0.137076        0.132562

In [36]:
PredictionOutputMAE.to_csv("Result/Fit_Macro_Exogenous_mae.csv")
PredictionOutputRMSE.to_csv("Result/Fit_Macro_Exogenous_rmse.csv")