In [1]:
import pandas as pd
import numpy as np
import math
from statsmodels.tsa.stattools import coint
import statsmodels.api as sm
from matplotlib import pyplot as plt
import datetime

In [2]:
data_EU = pd.read_csv("Data/EXUSEU.csv")
tsValues_EU = data_EU['EXUSEU']
tsValuesLog_EU = [math.log(1/ele) for ele in tsValues_EU]
data_CA = pd.read_csv("Data/EXCAUS.csv")
data_JP = pd.read_csv("Data/EXJPUS.csv")
data_CH = pd.read_csv("Data/EXCHUS_whole.csv")
data_KO = pd.read_csv("Data/EXKOUS.csv")
tsValuesLog_CA = [math.log(ele) for ele in data_CA['EXCAUS']]
tsValuesLog_JP = [math.log(ele) for ele in data_JP['EXJPUS']]
tsValuesLog_KO = [math.log(ele) for ele in data_KO['EXKOUS']]
tsValuesLog_CH = [math.log(ele) for ele in data_CH['EXCHUS']]

In [3]:
output = pd.DataFrame(columns=['EU','CA','JP','CH','KO'],index=['EU','CA','JP','CH','KO'])

In [4]:
ts = [tsValuesLog_EU,tsValuesLog_CA,tsValuesLog_JP,tsValuesLog_CH,tsValuesLog_KO]

In [5]:
for i in range(5):
    for j in range(5):
        if i==j:
            output.iloc[i,j] = 0
            continue
        result = coint(ts[i],ts[j])
        output.iloc[i,j] = result[1]

In [6]:
output

          EU        CA        JP        CH        KO
EU         0  0.126834  0.351295  0.615806  0.739426
CA  0.204273         0  0.357984  0.812497   0.85642
JP  0.622722  0.366571         0  0.641077  0.652401
CH  0.409926  0.444065  0.353866         0  0.425581
KO  0.314989  0.403782  0.183436  0.133232         0

In [7]:
data_EU = pd.read_csv("Data/EXUSEU.csv")
tsValues_EU = data_EU['EXUSEU']
tsValuesLog_EU = [math.log(ele) for ele in tsValues_EU]
data_CA = pd.read_csv("Data/EXCAUS.csv")
data_JP = pd.read_csv("Data/EXJPUS.csv")
data_CH = pd.read_csv("Data/EXCHUS_whole.csv")
data_KO = pd.read_csv("Data/EXKOUS.csv")
tsValuesLog_CA = [math.log(ele) for ele in data_CA['EXCAUS']]
tsValuesLog_JP = [math.log(ele) for ele in data_JP['EXJPUS']]
tsValuesLog_KO = [math.log(ele) for ele in data_KO['EXKOUS']]
tsValuesLog_CH = [math.log(ele) for ele in data_CH['EXCHUS']]

In [8]:
output = pd.DataFrame(columns=['EU','CA','JP','CH','KO'],index=['EU','CA','JP','CH','KO'])
ts = [tsValuesLog_EU,tsValuesLog_CA,tsValuesLog_JP,tsValuesLog_CH,tsValuesLog_KO]

In [9]:
for i in range(5):
    for j in range(5):
        if i==j:
            output.iloc[i,j] = 0
            continue
        result = coint(ts[i],ts[j])
        output.iloc[i,j] = result[1]

In [10]:
output

          EU        CA        JP        CH        KO
EU         0  0.126834  0.351295  0.615806  0.739426
CA  0.204273         0  0.357984  0.812497   0.85642
JP  0.622722  0.366571         0  0.641077  0.652401
CH  0.409926  0.444065  0.353866         0  0.425581
KO  0.314989  0.403782  0.183436  0.133232         0

In [ ]:
#To sum up, there is no significant cointergration among these time series